<!DOCTYPE html>
<html>
<head>
  <title>FailFlashGg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "custom" %>
  <%= stylesheet_link_tag "sticky-footer-navbar" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
