<!DOCTYPE html>
<html>
<head>
  <title>Calculation</title>
  <link rel="stylesheet" type="text/css" href="css/result.css">
  <%= stylesheet_link_tag "result", media: 'all' %>
  <%= stylesheet_link_tag "bootstrap", media: 'all' %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", media: 'all' %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans", media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
